* {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}

html{
  height: 100%;
}

body {
    min-height: 100%;
    background-color: #121314;
    min-width: 1280px; /* Width minimo */
}

a {
    text-decoration: none !important;
}

#main_header {
    position: fixed;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #121314;
    background-color: #222326;
    z-index: 103;
    text-align: center;
    min-width: 1280px; /* Width minimo */
}

#main_header_title {
    color: #adafb2;
    line-height: 31px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-shadow: 1px 1px black;
}

#main_nav {
    position: fixed;
    width: auto;
    height: 100%;
    background-color: #222326;
    z-index: 99;
    padding-top: 31px;
}

.main_nav_section {
    color: #adafb2;
    width: auto;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-shadow: 1px 1px black;
}

.main_nav_link {
    color: #adafb2;
    width: auto;
    height: 30px;
    margin-left: 20px;
    margin-right: 10px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-shadow: 1px 1px black;
}

.main_nav_link_bloqueado, .main_nav_link_bloqueado:hover, .main_nav_link_bloqueado:active {
    color: #3e3e40 !important;
}

.main_nav_link:hover {
    color: white;
}

.main_nav_link:active {
    color: rgb(225,0,0);
}

#contenedor {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    padding-top: 31px;
    z-index: 98;
}

#contenedor tr {
    border-top: 1px solid #222326;
}

table {
    border-collapse: collapse;
    width: 800px;
}

caption {
    height: 30px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-shadow: 1px 1px black;
    color: #adafb2;
}

th, td {
    height: 30px;
    line-height: 30px;
    text-align: left;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-shadow: 1px 1px black;
    color: #adafb2;
}

th {
    font-weight: normal;
}

.lb_text {
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-shadow: 1px 1px black;
    color: #adafb2;
}

.lb_button {
    color: #adafb2;
    width: auto;
    height: 30px;
    margin: 0 auto;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-shadow: 1px 1px black;
}

.lb_button_bloqueado, .lb_button_bloqueado:hover, .lb_button_bloqueado:active {
    color: #3e3e40 !important;
}

.lb_button:hover {
    color: white;
}

.lb_button:active {
    color: red;
}

#lb_background {
    display: none;
    background-color: rgba(10, 10, 10, 0.5);
    z-index: 101;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}

#lb_background:hover {
    cursor: pointer;
}

#lb_container {
    border: 1px solid #121314;
    display: none;
    z-index: 102;
    background-color: #222326;
    height: auto;
    width: auto;
    position: fixed;
    top: 50%;
    left: 50%;
}

#lb_title {
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-shadow: 1px 1px black;
    color: #adafb2;
}

.lb_title_border {
    height: 0px;
    width: 100%;
    border-bottom: 1px solid #121314;
    margin: 0 auto;
}

#lb_content {
    text-align: center;
}

.lb_content_class {
    margin: 0 10px 10px 10px;
    border-left: 1px solid #121314;
    border-right: 1px solid #121314;
    border-bottom: 1px solid #121314;
}

#lb_content_agregar, #lb_content_buscar {
    display: none;
}

.lb_input {
    display: block;
    height: 28px;
    width: 290px;
    line-height: 30px;
    background-color: #121314;
    color: #adafb2;
    border: none;
    padding-left: 10px;
    margin: 0 auto;
}

.lb_razon {
    display: block;
    height: auto;
    width: 300px;
    border: none;
    margin: 0 auto;
}

.lb_razon_option {
    text-align: left;
    width: auto;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    background-color: #121314;
    color: #adafb2;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-shadow: 1px 1px black;
}

.lb_razon_option:hover {
    color: white;
}

.lb_razon_option:active {
    color: red;
}

.lb_razon_option_black {
    background-color: #0D0E0F !important;
}

.lb_razon_option_status {
    height: 18px;
    width: 5px;
    background-color: #adafb2;
    float: right;
    margin-top: 6px;
}

/* Log */

#log_container {
    width: 100%;
    z-index: 103;
    position: fixed;
    bottom: 0;
    height: 30px;
    background-color: #222326;
    min-width: 1280px;
    text-align: center;
    border-top: 1px solid #121314;
}

#log_item_01 {
    display: inline-block;
}

#log_item_02 {
    display: none;
}

#log_text {
    width: auto;
    height: 30px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-shadow: 1px 1px black;
    color: #adafb2;
}

#log_text:hover {
    color: white;
}

#log_text:active {
    color: red;
}

.log_log {
    margin: 0 auto;
    text-align: center;
    min-width: 300px;
    max-width: 500px;
    height: 20px;
    line-height: 20px;
    margin-top: 5px;
    padding-left: 10px;
    background-color: #121314;
    color: #adafb2;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-shadow: 1px 1px black;
    border-radius: 2.5px;
}